
body{
    background-color: aqua;
}

.cuota{
    border-style: 2x solid black;
    background-color: yellow;
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
}

p.resultado{
    font-size: 40px;
}

/* .detalle{
    margin-top: 15px;
    border: solid
}

.detalle .titulos th{
    border-style: 2x solid black;
    padding: 0px 35px;
}
 */
.linea{
    padding: 0px 55px;
}

/* 
.perfil{
    display: flex;
    align-items: evenly;
} */